<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="wkuc1g0dofg634y6nz0t2z3kc9vr34" />
    <title>후달리던 투자가 투달해서 올랐다</title>



    <link rel="stylesheet" href="style/reset.css" />
    <link rel="stylesheet" href="style/style.css">

    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1135810613546802');
    fbq('track', 'PageView');
    fbq('track', 'ViewContent');
    
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1135810613546802&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

</head>
<body>
    <div id="container">
        <div class="topWrap">
            <div class="top">
                <img src="../img/topcont.png" alt="">
                <div class="btn_wrap">
                    <a href="https://play.google.com/store/apps/details?id=com.tudal.tp" id="button_link">
                        <img src="../img/btn_g.svg" alt="">
                    </a>
                    <a href="https://apps.apple.com/kr/app/id1455175051" id="button_link">
                        <img src="../img/btn_a.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="cont_01 content">
            <img src="../img/content_01.png" alt="">
        </div>

        <div class="cont_02 content">
            <img src="../img/content_02.png" alt="">
        </div>

        <div class="cont_03 content">
            <img src="../img/content_03.png" alt="">
        </div>

        <div class="bottom">
            <img src="../img/bottom_txt.png" alt="">
        </div>
    </div>

    
    <script type="text/javascript">
        $('#button_link').click(function() {
          fbq('track', 'ViewContent');
        });
      </script>

</body>
</html>