.pc_view{
    display: block;
}

.mo_view{
    display: none;
}

#container{
    width: 100%;
    font-size: 0;
    background-image: url('../../../assets/images/bg.png');
    background-repeat: repeat;
}

.topWrap{
    text-align: center;
}

.top{
    background-image: url('../../../assets/images/bg_03.png');
    width: auto;
    display: inline-block;
    padding: 120px 0 100px 0;
    background-size: cover;
    background-position: center;
}

.btn_wrap{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.btn_wrap a{
    display: inline-block;
    width: 20%;
    margin: 0 10px;
}

.btn_wrap a img{
    width: 100%;    
}

.content{
    text-align: center;
    margin-bottom: 40px;
}

.bottom{
    background-image: url('../../../assets/images/bottom_bg.png');
    background-repeat: repeat-x;
    background-position: top left;
    text-align: center;
    margin-top: -450px;
    padding-top: 400px;
}

.contentBtn{
    background: #170937;
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
    width: 1200px;
    margin:  0 auto;
}

.contentBtn a{
    width: 20%;
}

.topbg{
    background: linear-gradient(180deg, #ff00b750, transparent);
}

.contImg{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:640px){
    .pc_view{
        display: none;
    }
    
    .mo_view{
        display: block;
    }

    .top{
        padding: 70px 0 80px 0;
        background-image: url('../../../assets/images/bg_03_mo.png');
    }

    .btn_wrap a{
        width: 35%;
    }

    .content{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    .top .mo_view{
        width: 85%;
        margin:  0 auto;
    }

    .bottom{
        margin-top: -400px;
    }

} 